$font_proxima: 'ProximaNova-Light', sans-serif;
$font_proxima_bold: 'ProximaNova-Bold', sans-serif;
$font_proxima_black: 'ProximaNova-Black', sans-serif;
$font_proxima_regular: 'ProximaNova-Regular', sans-serif;
$font_proxima_semibold: 'ProximaNova-Semibold', sans-serif;
$font_proxima_extrabold: 'ProximaNova-Extrabold', sans-serif;
$font_minion: 'Minion Pro', sans-serif;
$font_bodoni: 'BodoniFLF-Roman', sans-serif;
$font_bodoni_book: 'Bodoni-Book', sans-serif;

$white_border_color: #fff;
$white_font_color: #fff;
$white_bg_color: #fff;

$gray_border_color: #A1A1A4;
$gray_font_color: #A1A1A4;
$gray_bg_color: #A1A1A4;

$orange_border_color: #F58426;
$orange_font_color: #F58426;
$orange_bg_color: #F58426;

$error_border_color: #F58426;
$error_font_color: #F58426;
$error_bg_color: #F58426;

$black_border_color: #000;
$black_font_color: #000;
$black_bg_color: #000;